body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

/* Light Theme Global Defaults */
body {
    @apply bg-page-bg text-text-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-bold text-text-primary;
}

p {
    @apply text-text-secondary;
}